{% extends 'baseadmin.html' %}
{% block body %}
<table  class="table text-center ">
    <h2 align="center">Details</h2>
    <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Fine</th>
        
       
        <th>Action</th>
    </tr>
    {% for p in std %}
   <tr>
        <td>{{p.first_name}}</td>
        <td>{{p.last_name}}</td>
        <td>{{p.username}}</td>
        <td>{{p.email}}</td>
        
        
       
   
       <td>
         <!-- <td><a href="" class="btn btn-warning">Edit</a> -->
        <a href="{% url 'deleteuser' p.id %}"class="btn btn-danger" >Delete</a></td>
        <td><a href="{% url 'edituser' p.id %}" class="btn btn-warning">Edit</a></td>
        
    </tr>
    {% endfor %}
</table>





{% endblock %}